




  /* ================================
   FOOTER
================================== */

.footer {
  background: #111;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  padding: 3rem 10%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #DEB887 0%, #ffffff 100%);
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  
  font-size: 42px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer-left img {
  display: block;
  margin-bottom: 1rem;
}

.social-container {
  display: flex;
  gap: 10px;
  margin-top: 1rem;
}

.results-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    padding: 30px;
} 

.result-card {
    background: white;
    border-radius: 16px;
    padding: 15px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.1);
    text-align: center;
    overflow: hidden;
}

.result-card img {
    width: 100%;
    border-radius: 12px;
    height: 180px;
    object-fit: cover;
}

.social-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  text-decoration: none;
  transition: transform 0.3s, background 0.3s;
}

.social-btn i {
  font-size: 18px;
}

.instagram { background: #e4405f; }
.facebook { background: #1877f2; }
.tiktok { background: #000; }

.social-btn:hover {
  transform: scale(1.1);
}

.footer-right ul {
  list-style: none;
}

.footer-right li {
  margin-bottom: 0.5rem;
}

.footer-right a {
  color: #ccc;
  text-decoration: none;
}

.footer-right a:hover {
  color: #fff;
}
